body{
    background-color: #E7E7E7 !important;
}

header{
    background-color: rgb(51, 51, 51);
    padding: 15px;
    margin-bottom: 20px;
}

fieldset{
    border: black solid 15px;
}

main{
    background-color: #E7E7E7;
    padding-bottom: 50px;
    position: static;
}

footer{
    background-color: rgb(51, 51, 51);
    padding: 20px; 
}

.divLogo img{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.divSearch{
    display: flex;
    align-items: center;
}

.divSlogan{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.formSearch{
    
    width: 100% !important;

    display: flex;
    justify-content: center;
    flex-direction: row;
}

.inputSearch{
    width: 85% !important;
}

.navSearch{
    width: 100%;
}

.btnPesquisar{
    color: #E7E7E7;
    border-color: #E7E7E7;
}

.btnPesquisar:hover{
    background: #E7E7E7;
    color: rgb(51, 51, 51);
    border-color: rgb(51, 51, 51);
}

.divNavbar{
    padding-left: 15px;
    padding-right: 15px;
}

.divNavbar a{
    color: rgb(102, 102, 102) !important;
}

.logado{
    margin: 0px !important;
}

.divCarousel{
    margin-bottom: 15px;
    padding-top: 15px;
    width: 100%;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.carousel-item img{
    filter: brightness(90%);
    border-radius: 5px;
}

.destaque{
    background-color: white !important;
    padding: 0px !important;
}

.destaque h4{
    margin: 10px 0px 20px 0px;
}

.containerDestaque{
    padding: 0px !important;
    border-radius: 5px !important;
}

.divDestaque{
    margin: 0px !important;
}

.divCategorias{
    background-color: white !important;
    border-radius: 5px;
    /*margin-top: 15px;*/
    padding-top: 10px;
    padding-bottom: 10px;
}

.imgCategoria{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.divTxtCategoria label{
    margin-left: auto;
    margin-right: auto;
}

.cardGeral{
    margin-bottom: 15px;
}

.cardGeral img{
    margin: 0;
    width: 100%;
    box-shadow: 7px 5px 3px gray;
}

.aCategoria{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.aCategoria img{
    margin-bottom: 15px;
    margin-top: 10px;
    max-width: 80px;
    border-radius: 100px;
}

footer{
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}
  
footer b{
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
}


/*ELEMENTOS EXCLUSIVOS DA PÁGINA DE CADASTRO*/

.divEntrar{
    background-color: white;
    padding: 30px 0px 20px;
}

.titulo{
    background-color:  #E7E7E7 !important;
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
}

.titulo h3{
    margin: 0px !important;
    padding: 10px 0px;
}

.containerCadastrar{
    background-color: white !important;
    border-radius: 5px;    
    padding-top: 10px;
    padding-bottom: 10px;

}

.divBtnCadastrar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px 10px;
}

.divBtnCadastrar button{
    width: 20%;
    height: 50px;
    background: rgb(51, 51, 51) !important;
    border: none;
}

/*ELEMENTOS EXCLUSIVO DE PÁGINA DE LOGIN*/

.divBtnLogin{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px 10px;
}

.divBtnLogin button{
    width: 20%;
    height: 50px;
    background: rgb(51, 51, 51) !important;
    border: none;
}

.containerEntrar{
    background-color: white !important;
    border-radius: 5px;    
    padding-top: 10px;
    padding-bottom: 10px;    
}

/*ELMENTOS DE ERROS*/

.divAvisoErro{
    background-color: rgb(214, 89, 89) !important;
    border-radius: 5px !important;
    color: white !important;
}

.divAvisoErro h5{
    margin: 0px !important;
    padding: 10px;
}

.divAvisoSucesso{
    background-color: #37a937;
    border-radius: 5px !important;
    color: white;
}

.divAvisoSucesso h5{
    margin: 0px !important;
    padding: 10px;
}